{% extends 'layout.html' %}

{% block title %}
  User Login
{% endblock %}

{% block content %}
  <p class="fs-1">User Login</p>
  <form class="" action="/users/login/" method="post">
    {% csrf_token %}
    {{ form }}
    {% comment %}With "request.GET.next" we can get the "next" parameter if it exists in the URL{% endcomment %}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% endif %}
    <button class="btn btn-primary mt-3">Submit</button>
  </form>
{% endblock %}
