{% extends 'layout.html' %}

{% block title %}
  User Information
{% endblock %}

{% block content %}
  <p class="fs-1">User Information</p>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Is Active: {{ user.is_active }}</p>
  <p>Is Staff: {{ user.is_staff }}</p>
  <p>Is Superuser: {{ user.is_superuser }}</p>
  <p>Date Joined: {{ user.date_joined }}</p>
  <p>Last Login: {{ user.last_login }}</p>
  <p>Groups: {{ user.groups.all }}</p>
  <p>Permissions: {{ user.user_permissions.all }}</p>
  {% comment %} <a href="{% url 'users:edit' user.id %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'users:delete' user.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
{% endblock %}
