{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="text-center self-align-center">
        <p class="fs-1">Home</p>
        <p class="fs-4">Check out my <a href="/about">About</a> page</p>
        <button class="btn btn-primary">About</button>
        <br>
        <button class="btn btn-primary m-3" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
        </button>
    </div>
{% endblock content %}


